.light-theme {
    --background: var(--theme-secondary);
    --border: var(--primary);
    --btn-background: var(--primary);
    --btn-border: var(--theme-secondary-darker);
    --btn-hover-background: var(--theme-secondary-darker);
    --btn-hover-border: var(--primary);
    --btn-hover-text: var(--primary);
    --btn-text: var(--theme-secondary-darker);
    --captcha: var(--primary-darker);
    --captcha-error: red;
    --details-text: var(--primary);
    --header-background: var(--theme-secondary);
    --header-border: var(--primary);
    --header-text: var(--primary);
    --main-background: var(--theme-primary);
    --main-text: var(--theme-secondary-darker);
    --primary: #ffd100;
    --primary-darker: #faa307;
    --table-background: var(--theme-primary);
    --table-border: var(--theme-secondary-darker);
    --table-header-background: var(--theme-secondary);
    --table-header-border: var(--theme-secondary-darker);
    --table-header-text: var(--primary);
    --table-text: var(--theme-secondary-darker);
    --text: var(--primary);
    --themed-text: var(--theme-secondary-darker);
    --theme-primary: #d6d6d6;
    --theme-secondary: #333533;
    --theme-secondary-darker: #202020;
    --unit-active-background: var(--primary);
    --unit-active-border: var(--theme-secondary-darker);
    --unit-active-text: var(--theme-secondary-darker);
    --unit-background: var(--theme-secondary);
    --unit-border: var(--primary);
    --unit-text: var(--primary);
}

.dark-theme {
    --background: var(--theme-primary);
    --border: var(--primary);
    --btn-background: var(--primary);
    --btn-border: var(--theme-secondary-darker);
    --btn-hover-background: var(--theme-secondary-darker);
    --btn-hover-border: var(--primary);
    --btn-hover-text: var(--primary);
    --btn-text: var(--theme-secondary-darker);
    --captcha: var(--primary-darker);
    --captcha-error: red;
    --details-text: var(--primary);
    --header-background: var(--theme-primary);
    --header-border: var(--primary);
    --header-text: var(--primary);
    --main-background: var(--theme-primary);
    --main-text: var(--theme-secondary);
    --primary: #ffd100;
    --primary-darker: #faa307;
    --table-background: var(--theme-primary);
    --table-border: var(--theme-secondary-darker);
    --table-header-background: var(--primary);
    --table-header-border: var(--theme-secondary-darker);
    --table-header-text: var(--theme-secondary-darker);
    --table-text: var(--primary);
    --text: var(--primary);
    --themed-text: var(--primary);
    --theme-primary: #333533;
    --theme-secondary: #d6d6d6;
    --theme-secondary-darker: #202020;
    --unit-active-background: var(--primary);
    --unit-active-border: var(--primary-darker);
    --unit-active-text: var(--theme-primary);
    --unit-background: var(--theme-primary);
    --unit-border: var(--primary);
    --unit-text: var(--primary);
}
